{% extends 'base.html' %}

{% block title %}
<title>form</title>
{% endblock %}

{% block navbar %}
    <!-- skip -->
{% endblock %}


{% block content %}
<div class="col-md-6 col-sm-6 col-xs-6" style="color:white; text-align:center; height: 740px; top:10px">
    <form id="form" method="POST" action="{% url 'jadwal_post' %}">
        {% csrf_token %}
        {{ jadwal_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>    

    <br>
    
    <form id="form2" method="DELETE" action="{% url 'delete_data' %}">
        <button type="submit" name="delete" class="btn btn-default">Delete All Data</button>
    </form>   
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('#date_time').datetimepicker();
        
    });
</script>
{% endblock %}