{% extends "base.html" %}

{% block title %} <title>Sukses Menambah Jadwal</title> 

{% endblock %}


{% block content %}
<div style="text-align:center; height: 530px;">
    <h1 style="color:white">Berhasil Ditambahkan :D</h1>
    <p>Nama Kegiatan:</p>
    <p>{{name}}</p>
    <br>
    <p>Tempat Kegiatan:</p>
    <p>{{place}}</p>
    <br>
    <p>Kategori Kegiatan:</p>
    <p>{{category}}</p>
    <br>
    <p>Waktu dan Tanggal Kegiatan:</p>
    <p>{{time}}</p>
    <br>
    <p>Catatan Kegiatan:</p>
    <p>{{message}}</p>
    <br>

    <a class="btn btn-primary" id="but" href="http://ferilprofile.herokuapp.com/form/jadwal_table" role="button">Semua Jadwal</a>


</div>
    
   

{% endblock %}
