{% extends "base.html" %}

{% block title %} <title>Kumpulan Pesan </title> {% endblock %}

{% block content %}
<table class="table table-dark table-striped table-responsive w-100 d-block d-xl-table d-md-table d-xs-table" >
    <thead>
        <th scope="col">Nama</th>
        <th scope="col">Tempat</th>
        <th scope="col">Kategori</th>
        <th scope="col">Tanggal dan Waktu</th>
        <th scope="col">Catatan</th>
        
    </thead>
    <tbody>
        {% for i in jadwal %}
        <tr>
            <td scope="col"> {{i.name}} </td>
            <td scope="col"> {{i.place}} </td>
            <td scope="col"> {{i.category}} </td>
            <td scope="col"> {{i.time}} </td>
            <td scope="col"> {{i.message}} </td>

        </tr>
            
    {% endfor %}
    </tbody>
</table>
{% endblock %}
