<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		{% block title %}<title>Feril Bagus</title>{% endblock %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static '/css/CustomCSS.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static '/css/jquery.datetimepicker.min.css' %}">
		<script type="text/javascript" src="{% static '/jquery/anim.js' %}"></script>
		<script type="text/javascript" src="{% static '/jquery/jquery.datetimepicker.js' %}"></script>
		<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<nav class="navbar navbar-expand-sm bg-custom navbar-dark fixed-top">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#njay">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="njay">
				<a class="navbar-brand" href="http://ferilprofile.herokuapp.com/profile/">
					<img src="http://icons.iconarchive.com/icons/graphicloads/100-flat/256/home-icon.png" width="30" height="30" alt="">
				</a>
				<ul class="navbar-nav ml-auto">
					{% block navbar %}
						<!-- skip -->
					{% endblock %}
				</ul>
			</div>	
		</nav>
		
		<div class="jumbotron opening" id="home" style="margin-bottom:0">
			<div class="row">
				<div class="col-xl-5 col-lg-5 col-md-5 col-sm-6 img"> 
					<img class="img-fluid" src="https://vignette.wikia.nocookie.net/yugioh/images/c/c0/ExodiatheForbiddenOne-TF04-JP-VG.jpg/revision/latest?cb=20120420185052">
				</div>
				<div class="col-xl-7 col-lg-7 col-md-7 col-sm-6 text">
					<h1>Feril Bagus</h1>
					<p>Ilmu Komputer 2017</p>
				</div>
			</div>
		</div>
		
		<div class='container-fluid'>
			{% block content %}
            {% endblock %}
		</div>
	</body>
</html>
